<a href="https://colab.research.google.com/github/yederlv/AD_Pandas/blob/main/AD_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TALLER INTRODUCTORIO: Análisis de datos mediante la librería Pandas de Python

<center>
<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png' width="300px"/>
</center>

Por Yeder Laura Vicente Dev [ELIA](https://www.linkedin.com/company/escuelaia/)

<a title="@yederlvicente" href="https://twitter.com/YederLVicente">
<img src='https://cdn.icon-icons.com/icons2/895/PNG/512/Twitter_icon_icon-icons.com_69154.png' height="30px" width ="30px"/></a>
<a title="Yeder Laura Vicente" href="https://www.linkedin.com/in/yederlvicente/">
<img src='https://cdn-icons-png.flaticon.com/512/174/174857.png' height="30px" width ="30px" HSPACE="20"/></a>

## Instalación de Pandas

In [ ]:
#!pip install pandas
#!pip install numpy

* Versión del paquete
```
[name_package].__version__
```
* Muestra los paquetes instalados junto a su versión, tabulados y ordenados alfabéticamente:
```
!pip list
```
* En este caso muestra los paquetes y su versión pero en el formato propio para requirements.txt, menos ameno al usuario:
```
!pip freeze
```
* Permite mostrar información detallada de uno o varios paquetes (nombre, descripción, versión, autor, email, homepage, directorio de instalación, paquetes requeridos, paquetes que lo requieren) instalados:
```
!pip show [name_package]
```

In [ ]:
pd.__version__

'1.1.5'

## Carga de Datos

In [1]:
import pandas as pd
import glob
import numpy as np

In [48]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [52]:
%cd '/content/drive/My Drive/Colab Notebooks/IEEE CS UTP'
!ls

/content/drive/My Drive/Colab Notebooks/IEEE CS UTP
AD_Pandas.ipynb  Apuntes.txt  qc00000616.txt  table.csv

In [2]:
!wget https://datosclima.es/capturadatos/Aemet2019-01.rar
!ls

--2021-11-04 04:49:58--  https://datosclima.es/capturadatos/Aemet2019-01.rar
Resolving datosclima.es (datosclima.es)... 95.217.108.87
Connecting to datosclima.es (datosclima.es)|95.217.108.87|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1456378 (1.4M) [application/x-rar-compressed]
Saving to: ‘Aemet2019-01.rar.1’

Aemet2019-01.rar.1  100%[===================>]   1.39M  2.02MB/s    in 0.7s

2021-11-04 04:49:59 (2.02 MB/s) - ‘Aemet2019-01.rar.1’ saved [1456378/1456378]

Aemet2019-01-01.xls  Aemet2019-01-13.xls  Aemet2019-01-25.xls
Aemet2019-01-02.xls  Aemet2019-01-14.xls  Aemet2019-01-26.xls
Aemet2019-01-03.xls  Aemet2019-01-15.xls  Aemet2019-01-27.xls
Aemet2019-01-04.xls  Aemet2019-01-16.xls  Aemet2019-01-28.xls
Aemet2019-01-05.xls  Aemet2019-01-17.xls  Aemet2019-01-29.xls
Aemet2019-01-06.xls  Aemet2019-01-18.xls  Aemet2019-01-30.xls
Aemet2019-01-07.xls  Aemet2019-01-19.xls  Aemet2019-01-31.xls
Aemet2019-01-08.xls  Aemet2019-01-20.xls  Aemet2019-01.rar
Aemet2019-01-09.xls  Aemet2019-01-21.xls  Aemet2019-01.rar.1
Aemet2019-01-10.xls  Aemet2019-01-22.xls  drive
Aemet2019-01-11.xls  Aemet2019-01-23.xls  sample_data
Aemet2019-01-12.xls  Aemet2019-01-24.xls

In [3]:
# Extracción del rar
!unrar e -o+ Aemet2019-01.rar

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from Aemet2019-01.rar

Extracting  Aemet2019-01-22.xls                                            2%  3%  OK
Extracting  Aemet2019-01-23.xls                                            5%  6%  OK
Extracting  Aemet2019-01-24.xls                                            9% 10%  OK
Extracting  Aemet2019-01-25.xls                                           12% 13%  OK
Extracting  Aemet2019-01-26.xls                                           15% 16%  OK
Extracting  Aemet2019-01-27.xls                                           18% 19%  OK
Extracting  Aemet2019-01-28.xls                                           22% 23%  OK
Extracting  Aemet2019-01-29.xls                                           25% 26%  OK
Extracting  Aemet2019-01-30.xls                                           28% 30%  OK
Extracting  Aemet2019-01-31.xls                                           32% 33%  OK
Extracting  Aemet2019-01-01.xls                                           36%  OK
Extracting  Aemet2019-01-02.xls                                           39%  OK
Extracting  Aemet2019-01-03.xls                                           42%  OK
Extracting  Aemet2019-01-04.xls                                           45%  OK
Extracting  Aemet2019-01-05.xls                                           48% 49%  OK
Extracting  Aemet2019-01-06.xls                                           51% 52%  OK
Extracting  Aemet2019-01-07.xls                                           54% 55%  OK
Extracting  Aemet2019-01-08.xls                                           57% 58%  OK
Extracting  Aemet2019-01-09.xls                                           60% 61%  OK
Extracting  Aemet2019-01-10.xls                                           63% 64%  OK
Extracting  Aemet2019-01-11.xls                                           66% 67%  OK
Extracting  Aemet2019-01-12.xls                                           69% 70%  OK
Extracting  Aemet2019-01-13.xls                                           72% 73%  OK
Extracting  Aemet2019-01-14.xls                                           75% 76%  OK
Extracting  Aemet2019-01-15.xls                                           78% 79%  OK
Extracting  Aemet2019-01-16.xls                                           81% 82%  OK
Extracting  Aemet2019-01-17.xls                                           84% 86%  OK
Extracting  Aemet2019-01-18.xls                                           88% 89%  OK
Extracting  Aemet2019-01-19.xls                                           91% 92%  OK
Extracting  Aemet2019-01-20.xls                                           95% 96%  OK
Extracting  Aemet2019-01-21.xls                                           98% 99%  OK
All OK

In [4]:
# Asignando los archivos extraido a una variable
x = pd.read_excel('Aemet2019-01-21.xls')
x.head()

                                              España  ...                Unnamed: 11
0  Actualizado: martes, 22 enero 2019 a las 18:00...  ...                        NaN
1                        Fecha: lunes, 21 enero 2019  ...                        NaN
2                                                NaN  ...                        NaN
3                                           Estación  ...  Precipitación 18-24h (mm)
4                                    Estaca de Bares  ...                          0

[5 rows x 12 columns]

In [5]:
# Recorremos los ficheros xls ya descomprimidos y los vamos cargando en un objeto dataframe
all_files = glob.glob("Aemet2019-*.xls")

file_list = []
for i in all_files:
    data = pd.read_excel(i,skiprows=4)
    data['source_file'] = i # nueva columna conteniendo el nombre del fichero leido
    file_list.append(data)
df = pd.concat(file_list)

In [6]:
# Ver números de filas y columnas que contiene nuestro dataset
df.shape

(24707, 13)

In [7]:
# Visualizar el dataset
df.head()

               Estación  ...          source_file
0       Estaca de Bares  ...  Aemet2019-01-29.xls
1             As Pontes  ...  Aemet2019-01-29.xls
2              A Coruña  ...  Aemet2019-01-29.xls
3   A Coruña Aeropuerto  ...  Aemet2019-01-29.xls
4  Carballo, Depuradora  ...  Aemet2019-01-29.xls

[5 rows x 13 columns]

## Limpieza de datos
Una parte importante del proceso de obtención de datos es limpiar su contenido para que sea adecuado a nuestras necesidades y para hacerlos mas cómodos de usar.

In [8]:
df=df.rename(columns={'Estación': 'estacion',
                      'Provincia':'provincia',
                      'Temperatura máxima (ºC)':'temp_max',
                      'Temperatura mínima (ºC)':'temp_min',
                      'Temperatura media (ºC)':'temp_med',
                      'Racha (km/h)':'viento_racha',
                      'Velocidad máxima (km/h)':'viento_vel_max',
                      'Precipitación 00-24h (mm)':'prec_dia',
                      'Precipitación 00-06h (mm)':'prec_0_6h',
                      'Precipitación 06-12h (mm)':'prec_6_12h',
                      'Precipitación 12-18h (mm)':'prec_12_18h',
                      'Precipitación 18-24h (mm)':'prec_18_24h',
                      'source_file':'fecha'})

In [9]:
df.head()

               estacion provincia  ... prec_18_24h                fecha
0       Estaca de Bares  A Coruña  ...         0.2  Aemet2019-01-29.xls
1             As Pontes  A Coruña  ...         0.6  Aemet2019-01-29.xls
2              A Coruña  A Coruña  ...         0.6  Aemet2019-01-29.xls
3   A Coruña Aeropuerto  A Coruña  ...         0.7  Aemet2019-01-29.xls
4  Carballo, Depuradora  A Coruña  ...         0.0  Aemet2019-01-29.xls

[5 rows x 13 columns]

Usando expresión regular

In [10]:
df=df.replace(to_replace=r'.\(.+\)$', value='', regex=True)

In [11]:
df.head(1)

          estacion provincia  ... prec_18_24h                fecha
0  Estaca de Bares  A Coruña  ...         0.2  Aemet2019-01-29.xls

[1 rows x 13 columns]

In [12]:
df.fecha=df.fecha.replace(regex={'Aemet':'',r'\.+xls':''})
df.head(1)

          estacion provincia temp_max  ... prec_12_18h  prec_18_24h       fecha
0  Estaca de Bares  A Coruña     12.0  ...         0.4          0.2  2019-01-29

[1 rows x 13 columns]

Tipo de datos de las columnas

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24707 entries, 0 to 796
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   estacion        24707 non-null  object
 1   provincia       24707 non-null  object
 2   temp_max        23650 non-null  object
 3   temp_min        23650 non-null  object
 4   temp_med        23650 non-null  float64
 5   viento_racha    20072 non-null  object
 6   viento_vel_max  20203 non-null  object
 7   prec_dia        23366 non-null  float64
 8   prec_0_6h       23565 non-null  float64
 9   prec_6_12h      23565 non-null  float64
 10  prec_12_18h     23584 non-null  float64
 11  prec_18_24h     23563 non-null  float64
 12  fecha           24707 non-null  object
dtypes: float64(6), object(7)
memory usage: 2.6+ MB

Vamos a eliminar las estaciones que tienen filas a las que les faltan datos para estandarizar la información

In [14]:
estaciones_con_nan=df[df.isnull().any(axis=1)]['estacion'].unique()
df.drop(df[df['estacion'].isin(estaciones_con_nan)].index, inplace=True)
df.isna().sum()

estacion          0
provincia         0
temp_max          0
temp_min          0
temp_med          0
viento_racha      0
viento_vel_max    0
prec_dia          0
prec_0_6h         0
prec_6_12h        0
prec_12_18h       0
prec_18_24h       0
fecha             0
dtype: int64

## Analisis de datos

In [15]:
df.head(1)

          estacion provincia temp_max  ... prec_12_18h  prec_18_24h       fecha
0  Estaca de Bares  A Coruña     12.0  ...         0.4          0.2  2019-01-29

[1 rows x 13 columns]

In [59]:
df.iloc[:,np.r_[0:8,12:13]].describe()

           temp_med      prec_dia
count  14663.000000  14663.000000
mean       7.560342      1.490009
std        4.350412      5.890856
min       -7.400000      0.000000
25%        4.500000      0.000000
50%        7.300000      0.000000
75%       10.200000      0.000000
max       21.100000    132.800000

In [31]:
df.filter(regex='^temp_*', axis=1).sample(5)

    temp_max temp_min  temp_med
386     18.7      2.2      10.5
38      17.3      2.8      10.0
442     16.3      4.9      10.6
767      7.4     -4.8       1.3
139     11.5      7.7       9.6

Medidas por provincia

mostramos el contenido de las 4 primeras provincias (por orden alfabético) y de las 6 primeras columnas:
temp_max	temp_min	temp_med	viento_racha	viento_vel_max	prec_dia

In [60]:
df.groupby('provincia').mean()

                         temp_med  prec_dia  ...  prec_12_18h  prec_18_24h
provincia                                    ...
A Coruña                 8.958065  3.329954  ...     0.994009     0.658525
Alacant/Alicante         9.777880  0.070968  ...     0.017512     0.018433
Albacete                 6.117204  0.114516  ...     0.007527     0.051613
Almería                 12.132258  0.101613  ...     0.005376     0.026882
Araba/Álava              4.316129  5.145161  ...     0.879032     1.632258
Asturias                 7.743011  6.780287  ...     1.688530     1.889247
Badajoz                  8.091935  0.546935  ...     0.080645     0.305161
Barcelona                6.509462  0.471183  ...     0.015269     0.062581
Bizkaia                  7.095699  9.092473  ...     1.703226     2.483333
Burgos                   3.408504  1.789443  ...     0.421701     0.697361
Cantabria                6.747312  8.797133  ...     2.016487     2.295699
Castelló/Castellón       7.234274  0.304032  ...     0.069355     0.092742
Ceuta                   14.296774  1.680645  ...     0.129032     0.806452
Ciudad Real              6.466129  0.667742  ...     0.018817     0.206989
Cuenca                   4.914919  0.462903  ...     0.025806     0.262903
Cáceres                  7.745968  1.127554  ...     0.232796     0.622984
Cádiz                   10.973548  1.730645  ...     0.119355     0.721613
Córdoba                  7.915771  0.582079  ...     0.043728     0.281720
Gipuzkoa                 6.133641  9.310599  ...     1.800922     2.856682
Girona                   5.887593  0.436476  ...     0.178164     0.080397
Granada                 10.007527  0.590323  ...     0.065591     0.110753
Guadalajara              4.082258  0.650806  ...     0.109677     0.239516
Huelva                  10.243548  0.579355  ...     0.093226     0.328387
Huesca                   3.931541  1.475269  ...     0.407885     0.431900
Illes Balears            9.612500  1.288978  ...     0.293548     0.474194
Jaén                     7.653629  0.975403  ...     0.041935     0.268548
La Rioja                 4.471613  1.772903  ...     0.441290     0.538065
Las Palmas              16.167595  0.249853  ...     0.046481     0.107625
León                     3.958871  2.371774  ...     0.817742     0.627419
Lleida                   3.272350  0.968203  ...     0.419355     0.254839
Lugo                     6.608602  4.931183  ...     1.387097     1.191398
Madrid                   5.295968  1.102151  ...     0.271505     0.408065
Melilla                 13.745161  0.438710  ...     0.006452     0.109677
Murcia                   9.962035  0.025062  ...     0.002978     0.000000
Málaga                  12.074442  0.514392  ...     0.027047     0.169727
Navarra                  5.518280  4.953763  ...     1.051613     1.450896
Ourense                  5.987097  2.880645  ...     0.938710     0.770968
Palencia                 3.323963  0.932719  ...     0.357604     0.392627
Pontevedra               8.665323  6.032258  ...     1.900000     1.246774
Salamanca                3.944086  0.671505  ...     0.145699     0.341935
Santa Cruz de Tenerife  13.833017  0.784820  ...     0.156546     0.218406
Segovia                  3.103226  1.204301  ...     0.329032     0.508602
Sevilla                  9.559857  0.584229  ...     0.055556     0.354480
Soria                    3.324597  1.229435  ...     0.231855     0.526613
Tarragona                6.663871  0.306452  ...     0.047097     0.058065
Teruel                   4.469479  0.512655  ...     0.064764     0.206948
Toledo                   6.076613  0.346774  ...     0.054032     0.200806
Valladolid               3.220968  0.779570  ...     0.300000     0.397849
València/Valencia        9.250269  0.058065  ...     0.004301     0.011290
Zamora                   3.847742  0.672903  ...     0.162581     0.389677
Zaragoza                 5.754516  0.489677  ...     0.058710     0.198065
Ávila                    4.321659  0.626728  ...     0.176959     0.280184

[52 rows x 6 columns]

Mayores temperaturas máximas por estación

In [61]:
df.sort_values(by='temp_max',ascending=False)[['fecha','estacion','provincia','temp_max']].head(3)

          fecha                        estacion  provincia temp_max
223  2019-01-14  Valderredible, Cubillo de Ebro  Cantabria      9.9
111  2019-01-18                      Monesterio    Badajoz      9.9
585  2019-01-28                         Larraga    Navarra      9.9

Menores temperaturas mínimas por estación

In [62]:
df.sort_values(by='temp_min',ascending=True)[['fecha','estacion','provincia','temp_min']].head(3)

          fecha                  estacion  provincia temp_min
335  2019-01-14                Villarrasa     Huelva     -0.1
633  2019-01-27       El Bodón Base Aérea  Salamanca     -0.1
636  2019-01-27  Aldeanueva de Serrezuela    Segovia     -0.1

Máximas diferencias entre temperatura max y min por provincia

In [69]:
df['diff_temp_min_max']=df['temp_max']-df['temp_min']

TypeError: ignored

In [70]:
df['llueve']=df.prec_dia.apply(lambda x: 1 if x>0 else 0)

df.sort_values(by=['estacion','fecha'],ascending=True,inplace=True,ignore_index=True)

df['start_of_streak'] = df.llueve.ne(df['llueve'].shift())

df['estacion_anterior']=df['estacion'].shift()
df.loc[(df['estacion'].ne(df['estacion_anterior'])), 'start_of_streak'] = True

df['streak_id'] = df['start_of_streak'].cumsum()
df['dias_seguidos_lloviendo'] = df.groupby('streak_id').cumcount() + 1
df.loc[(df['llueve']==0), 'dias_seguidos_lloviendo'] = 0

df.iloc[df.reset_index().groupby(['provincia','estacion'])['dias_seguidos_lloviendo'].idxmax()].sort_values(by='dias_seguidos_lloviendo',ascending=False)[['estacion','provincia','dias_seguidos_lloviendo']].head(10)

                       estacion  provincia  dias_seguidos_lloviendo
5083                     Elgeta   Gipuzkoa                       25
14631                 Zumarraga   Gipuzkoa                       20
5455                      Forua    Bizkaia                       18
9795                     Orozko    Bizkaia                       18
7966                       Lugo       Lugo                       16
7563                     Llanes   Asturias                       16
30                     A Coruña   A Coruña                       16
11903    Santiago de Compostela   A Coruña                       16
7904   Los Tojos, Bárcena Mayor  Cantabria                       15
9702                    Ordizia   Gipuzkoa                       15

In [71]:
df.iloc[df.reset_index().groupby(['provincia','estacion'])['dias_seguidos_lloviendo'].idxmax()].sort_values(by='dias_seguidos_lloviendo',ascending=True)[['estacion','provincia','dias_seguidos_lloviendo']].head(10)

                       estacion  ... dias_seguidos_lloviendo
7781   Lorca, Zarcilla de Ramos  ...                       0
2542                   Belmonte  ...                       0
12617                 Tazacorte  ...                       0
1116         Almería Aeropuerto  ...                       0
434                       Albox  ...                       0
3100                      Buñol  ...                       0
8525         Mogán, Puerto Rico  ...                       0
13595    Vilafranca del Penedès  ...                       1
13473         València, Viveros  ...                       1
7580                     Lleida  ...                       1

[10 rows x 3 columns]

In [72]:
df_estaciones=df[['provincia','estacion']].drop_duplicates().groupby('provincia').count()
df_estaciones.loc['Total de estaciones'] = df_estaciones['estacion'].sum()
df_estaciones

                        estacion
provincia
A Coruña                       7
Alacant/Alicante               7
Albacete                       6
Almería                        6
Araba/Álava                    4
Asturias                       9
Badajoz                       20
Barcelona                     15
Bizkaia                        6
Burgos                        11
Cantabria                      9
Castelló/Castellón             8
Ceuta                          1
Ciudad Real                    6
Cuenca                         8
Cáceres                       24
Cádiz                         10
Córdoba                        9
Gipuzkoa                       7
Girona                        13
Granada                        3
Guadalajara                    4
Huelva                        10
Huesca                        18
Illes Balears                 24
Jaén                           8
La Rioja                       5
Las Palmas                    22
León                           4
Lleida                         7
Lugo                           3
Madrid                        12
Melilla                        1
Murcia                        13
Málaga                        13
Navarra                        9
Ourense                        1
Palencia                       7
Pontevedra                     4
Salamanca                     12
Santa Cruz de Tenerife        17
Segovia                        6
Sevilla                        9
Soria                          8
Tarragona                      5
Teruel                        13
Toledo                         4
Valladolid                     6
València/Valencia             12
Zamora                        10
Zaragoza                      10
Ávila                          7
Total de estaciones          473